.video-container{
    height: 80vh;
    border-radius: 20px;
    background-color: white;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
}

.video-container::-webkit-scrollbar{
    display: none;
}

.videos{
    position: relative;
}
.fa{
    position: absolute;
    bottom: 7%;
    left: 10%;
}
.fa h4{
    margin: 0;
    color: white;
    margin-top: 8%;
    margin-left: 25%;
}

.icon-styling{
    position: absolute;
    bottom: 2%;
    left: 12%;
}
.like{
    cursor: pointer;
    color: #e74c3c;
}
.unlike{
    cursor: pointer;
    color: white;
}